services:
  gin-backend:
    build:
      context: ./backend
    image: sumo-backend:local
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    restart: unless-stopped
    depends_on:
      - sumo-db
    environment:
      - DB_HOST=sumo-db
      - DB_PORT=${DB_PORT}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
    networks:
      - sumo_net
      - airflow

  react-frontend:
    build:
      context: ./frontend
    image: sumo-frontend:local
    ports:
      # host:container -> map host 8081 to nginx:80 inside container
      - "8081:80"
    restart: unless-stopped
    depends_on:
      - gin-backend
    networks:
      - sumo_net
      - airflow

  sumo-db:
    image: postgres:16
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${DB_USERNAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - sumo-db-data:/var/lib/postgresql/data
    networks:
      - airflow
      - sumo_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME} -d ${DB_NAME} -h localhost"]
      interval: 5s
      timeout: 3s
      retries: 20

  sumo-db-restore:
    image: ${SUMO_RESTORE_IMAGE:-postgres:18}
    restart: "no"
    env_file:
      - ./airflow/.env
    environment:
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_HOST=sumo-db
      - DB_PORT=5432
      - FORCE_RESTORE=1
    depends_on:
      sumo-db:
        condition: service_healthy
    volumes:
      - ./airflow/db_init:/db_init:ro
    entrypoint: ["/bin/bash", "/db_init/restore_sumo_db.sh"]
    networks:
      - airflow

networks:
  sumo_net:
    driver: bridge
  airflow:
    driver: bridge

volumes:
  sumo-db-data: {}


